@CHARSET "UTF-8";

/*layout
risuluzione ottimale 1280x1024  100px di barre strumenti
*/
html, body{
	margin:0px;
	padding:0px;
	height:900px;
	min-width:1200px;
}
body{
    font-size: 76%; 
    text-align: left;
}
h1,h2{
    margin: 0;
    padding:0;
    text-align: center;
}
div#container{
    position:relative;
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    text-align: left;
	overflow :hidden;
}
body div#container{
    min-height:100%;
}
div#navigation{
	margin : 0 auto;
	position :relative;
	z-index:200;
}
div#navigation ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
div#navigation li{
    display: inline;
    margin: 0 0 0 1em;
    padding: 0;
}
div#navigation a{
    text-decoration: none;
}
div#navigation a:hover{
    text-decoration: underline;
}
div#footer{
    position: absolute;
    bottom:0; width: 100%;
    padding: 0.5em 0;
    text-align:center;
    clear: both;
    min-height: 20px;
}
div#footer a{
    text-decoration: underline;
}
div#content{
    padding: 0;
    overflow: hidden;
    padding-bottom: 50px;
    margin-bottom: 20px;
}
div#destra{
    right: 0px;
	position: absolute;
    width: 150px;
    max-height: 1000px;
    height: auto;
	z-index:200;
}
div#banner{
    width:750px;
    height:100px;
	margin: 4px auto;
}
.pannel {
	float: right;
	overflow: auto;
	height: 350px;
	margin-top: 45px;
	width: 130px;
}
/*movimenti truppe*/
#info {
	z-index: 700;
	position: absolute;
	top: 23px;
	right: 160px;
	background-color: white;
	width: 200px; 
	display: none; 
	min-height: 100px; 
	overflow: auto;
	padding:5px;
}
#movemap {
  bottom: 32px;
  height: auto;
  position: absolute;
  width: 170px;
  z-index: 500;
}
#troops { float: right; width: 65%; min-height: 60px; } * html #troops { height: 12em; } /* IE6 */
	.troops.custom-state-active { background: #eee; }
	.troops li { float: left; width: 65px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
	.troops li h5 { margin: 0 0 0.4em; cursor: move; }
	.troops li a { float: left; }
	.troops li a.ui-icon-zoomin { float: left; }
	.troops li img { cursor: move; }

	.t {width: 98%; min-height: 71px;; padding: 1%;margin-bottom: 40px;} * html .t { height: 18em; } /* IE6 */
	.t h4 { line-height: 16px; margin: 0 0 0.4em; }
	.t h4 .ui-icon { float: left; }

	.input_troops { width: 35px; }
	/*nav pad*/
#navpad{
    width: 150px;
    height: 100px;
    position: relative;
    cursor: pointer;
}
.arrow_up {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    position: absolute;
    left: 0px;
}
.arrow_sx {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 0px;
}
.arrow_dx {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 100px;
}
.arrow_down {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 50px;
}
/* Report table */
table.report {
	border: 1px solid #CCC;
	font-size: 13px;
	border-collapse: collapse;
	line-height: 16px;
	width: 500px;
	empty-cells: show;
        background: white;
        color: black
}

table.report td {
	border: 1px solid #CCC;
	padding-left: 7px;
	padding-top: 2px;
	vertical-align:middle;
        background: white;
        color: black
}

table.report th {
	border: 1px solid #CCC;
	background-image: url(PATH/common/images/table_bg.png);
        color: black;
	padding-left: 7px;
	padding-top: 2px;
	vertical-align:middle;
	text-align:center;
}

table.report tr.superstiti td { color: green; font-weight: bold; }
table.report tr.died td { color: red; }

table.troopers {
        border: 1px solid #CCC;
	font-size: 13px;
	border-collapse: collapse;
	line-height: 16px;
	empty-cells: show;
        background: white;
        color: black
}

table.troopers td {
        border: 1px solid #CCC;
	padding-left: 7px;
	padding-top: 2px;
	vertical-align:middle;
}
table.troopers th {
        border: 1px solid #CCC;
	background-image: url(PATH/common/images/table_bg.png);
	padding-left: 7px;
	padding-top: 2px;
	vertical-align:middle;
	text-align:center;
}
/* Mappa */
.map, .map div, .map div div {
    padding: 0px;
    background-image: url('PATH/common/images/map/evolution1.png');
}
.map:hover {
    border: 1px solid black;
}
.zoom-50 {
	height:50px;
	width:50px;
}
.zoom-50:hover {
	height:48px;
	width:48px;
}
/*@todo creare uno script per generare sprite!!*/
.map-null{
	background-position: 50px 50px;
}
/*.area0 {
	background-position: 0 0;
}
.area1 {
	background-position:-50px 0;
}
.area2 {
	background-position:-100px 0;
}
.area3 {
	background-position:-150px 0;
}
.area4 {
	background-position:0 -50px;
}
.area5 {
	background-position:-50px -50px;
}
.village1 {
	background-image: url('PATH/common/images/map/evolution1.png');
	height:50px;
	width:50px;
	background-position:-100px -50px;
}
.allied {
	background-image: url('PATH/common/images/map/evolution1.png');
	height:16px;
	width:16px;
	background-position:-182px -50px;
}
.enemy {
	background-image: url('PATH/common/images/map/evolution1.png');
	height:16px;
	width:16px;
	background-position:-166px -50px;
}
.own {
	background-image: url('PATH/common/images/map/evolution1.png');
	height:16px;
	width:16px;
	background-position:-150px -50px;
}
/* posizione degli edifici*/

.building {
    width: 100px;
    height: 100px;
}
.building:hover {
    border: 1px solid red;
}
.village_view {
    /*background-image: url() ;*/
    height: 350px;
    width: 650px;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.empty {
    border: none;
    background-image: url('PATH/common/images/empty1.png');
}
.empty:hover {
    border: none;
    background-image: url('PATH/common/images/empty.png');
}
.draghover {
    border: none;
    background-image: url('PATH/common/images/empty.png');
}
.pos0 {
    left: 475px;
    top: 10px;
    position: absolute;
    z-index: 500;
}
.pos1 {
    left: 75px;
    top: 10px;
    position: absolute;
    z-index: 500;
}
.pos2 {
    left: 500px;
    top: 235px;
    position: absolute;
    z-index: 503;
}
.pos3 {
    left: 50px;
    top: 235px;
    position: absolute;
    z-index: 503;
}
.pos4 {
    left: 175px;
    top: 10px;
    position: absolute;
    z-index: 500;
}
.pos5 {
    left: 275px;
    top: 10px;
    position: absolute;
    z-index: 500;
}
.pos6 {
    left: 375px;
    top: 10px;
    position: absolute;
    z-index: 500;
}
.pos7 {
    left: 65px;
    top: 85px;
    position: absolute;
    z-index: 501;
}
.pos8 {
    left: 170px;
    top: 85px;
    position: absolute;
    z-index: 501;
}
.pos9 {
    left: 275px;
    top: 85px;
    position: absolute;
    z-index: 501;
}
.pos10 {
    left: 380px;
    top: 85px;
    position: absolute;
    z-index: 501;
}
.pos11 {
    left: 485px;
    top: 75px;
    position: absolute;
    z-index: 501;
}
.pos12 {
    left: 55px;
    top: 160px;
    position: absolute;
    z-index: 502;
}
.pos13 {
    left: 165px;
    top: 160px;
    position: absolute;
    z-index: 502;
}
.pos14 {
    left: 275px;
    top: 160px;
    position: absolute;
    z-index: 502;
}
.pos15 {
    left: 385px;
    top: 160px;
    position: absolute;
    z-index: 502;
}
.pos16 {
    left: 495px;
    top: 160px;
    position: absolute;
    z-index: 502;
}
.pos17 {
    left: 160px;
    top: 235px;
    position: absolute;
    z-index: 503;
}
.pos18 {
    left: 275px;
    top: 235px;
    position: absolute;
    z-index: 503;
}
.pos19 {
    left: 390px;
    top: 235px;
    position: absolute;
    z-index: 503;
}
.reinfbn {
	
}
.outReinf {
	background-position: 0 -16px;
}
.inReinf {
	background-position: 0 -32px;
}
.reinf {
	background-position: 0 -48px;
}
.attackbn {
	background-position: -16px 0;
}
.outAttack {
	background-position: -16px -16px;
}
.inAttack {
	background-position: -16px -32px;
}
.marketMbn {
	background-position: -32px 0;
}
.marketM {
	background-position: -32px -16px;
}
#helper {
	display: none;
	height: 200px;
	width: 200px;
	position: absolute;
}

.troops-icon{
	background-image: url('PATH/common/images/troops/troops.png');
	height:16px;
	width:16px;
	display: inline-block;
}
.t1{
	background-position:-16px 0;
}
.t2{
	background-position:-32px 0;
}
.t3{
	background-position:-48px 0;
}
.t4{
	background-position:-64px 0;
}
.context-menu-item.icon-update {
	
}
.context-menu-item.icon-destroy {
	
}
	