@CHARSET "UTF-8";

/*layout*/
html, body{
	margin:0px;
	padding:0px;
	height:100%;
	min-width:1200px;
}
body{
    font-size: 76%; 
    text-align: left;
	background-image: url('../images/sfondo.jpg');
}
h1,h2{
    margin: 0;
    padding:0;
    text-align: center;
}
div#container{
    height: 90%;
	padding: 20px;
}
div#navigation ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
div#navigation li{
    display: inline;
    margin: 0 3px;
    padding: 0;
}
div#navigation a{
    text-decoration: none;
}
div#navigation a:hover{
    text-decoration: underline;
}
div#footer {
    bottom: 0; 
    width: 100%;
    text-align:center;
    min-height: 20px;
	position: fixed;
	font-size: 15px;
	font-weight: bold;
}
div#footer a{
    text-decoration: underline;
}
div#content{
    padding: 1em 1em 5em;
    overflow: auto;
    padding-bottom: 50px;
	margin: 10px 130px;
	width: 650px;
}
div#destra{
    float:right;
    width: 150px;
    max-height: 1000px;
    height: auto;
}
div#banner{
    float:left;
    width: 120px;
    height: 600px;
    top: 100px;
	left: 5px;
	position: absolute;
}
#top {
	width:900px;
	margin: 0 80px;
}
#top table {
	border:2px solid white;
}
#top td{
	border:2px solid black;
}
.server {
	background-image: url('./../images/mondo.gif');
    background-repeat: no-repeat;
    color: black;
    height: 131px;
    padding-left: 131px;
    width: 300px;
    font-size:13px;
    margin:20px;
}
.server.offline{
	background-image: url('./../images/mondooff.gif');
}
.server.reg.offline{
	background-image: url('./../images/mondooff.gif');
}
.server.reg{
	background-image: url('./../images/mondobn.gif');
}
#locale {
	top:0px;
	right:0px;
	position:fixed;
}