/* 
    Created on : 15-gen-2011, 11.08.09
    Author     : pagliaccio
    Description:
        foglio di style per l'età antica
*/
/*layout*/
body{
    font-family: arial,sans-serif;
    background-color: white;
    background-image: url('../images/sfondo_antica.jpg');
    color: black;
}
div#header{
    background-image: url('../images/title_antica.jpg');
}
div#container{
    border-left: 4px solid red;
    border-right: 4px solid red;
}
div#navigation{
    background-color: red;
    color: white;
	border-radius: 0 0 5px 5px;
    border: 1px solid black;
}
div#navigation a{
    color: white;
    font: normal bold 1.2em/2.5em arial,sans-serif;
}
div#navigation a:hover{
    color: purple;
}
div#footer{
    background-color: red;
    color: white;
}
div#footer a{
    color: black;
    font-weight: bold;
}
div#destra{
    color: black;
	background-image: url('../images/sfondo_antica.jpg');
    border: 1px solid red;
}
div#sinistra{
    color: black;
}
div#content{
    color: black;
}
/*tag*/

/*link decoration */
a:link 	{color: black}
a:visited {color: black}
a:hover {color: purple}
button {
    color: black;
    font: normal bold 1.2em/2.5em arial,sans-serif;
}
/*info bar*/

#info {
	border: 2px solid red;
	background-image:url('../images/sfondo_antica.jpg');
}

/* immagini strutture */

.village_view{
    background-image: url('../images/Antica/ground.gif');
}

.main {
    background-image: url('../images/Antica/main.png');
}
.storage1 {
    background-image: url('../images/Antica/storage1.png');
}
.storage2 {
    background-image: url('../images/Antica/storage2.png');
}
.prod1 {
    background-image: url('../images/Antica/prod1.png');
}
.prod2 {
    background-image: url('../images/Antica/prod2.png');
}
.prod3 {
    background-image: url('../images/Antica/prod3.png');
}
.house {
    background-image: url('../images/Antica/house.png');
}
.market {
    background-image: url('../images/Antica/market.png');
}
.barrack {
    background-image: url('../images/Antica/barrack.png');
}
.command {
    background-image: url('../images/Antica/command.png');
}
.research {
    background-image: url('../images/Antica/research.png');
}
.mainbn {
    background-image: url('../images/Antica/mainbn.png');
}
.storage1bn {
    background-image: url('../images/Antica/storage1bn.png');
}
.storage2bn {
    background-image: url('../images/Antica/storage2bn.png');
}
.prod1bn {
    background-image: url('../images/Antica/prod1bn.png');
}
.prod2bn {
    background-image: url('../images/Antica/prod2bn.png');
}
.prod3bn {
    background-image: url('../images/Antica/prod3bn.png');
}
.housebn {
    background-image: url('../images/Antica/housebn.png');
}
.marketbn {
    background-image: url('../images/Antica/marketbn.png');
}
.barrackbn {
    background-image: url('../images/Antica/barrackbn.png');
}
.commandbn {
    background-image: url('../images/Antica/commandbn.png');
}
.researchbn {
    background-image: url('../images/Antica/researchbn.png');
}
/*navpad*/
.arrow_up {
    background-image: url('../images/Antica/up.png');
}
.arrow_sx {
    background-image: url('../images/Antica/sx.png');
}
.arrow_dx {
    background-image: url('../images/Antica/dx.png');
}
.arrow_down {
    background-image: url('../images/Antica/down.png');
}
.arrow_up:hover {
    border: 1px dotted black;
}
.arrow_sx:hover {
    border: 1px dotted black;
}
.arrow_dx:hover {
    border: 1px dotted black;
}
.arrow_down:hover {
    border: 1px dotted black;
}
#movemap {
    color: black;
	background-image: url('../images/sfondo_antica.jpg');
    border: 1px solid red;
}