/* 
    Document   : futura.css
    Created on : 15-gen-2011, 11.08.09
    Author     : pagliaccio
    Description:
        foglio di style per l'età futura
*/
/*layout*/
body{
    font-family: arial,sans-serif;
    background-color: black;
    color: #72e616;
}
div#header{
    background-image: url('PATH/common/images/title_futura.jpg');
}
div#container{
    background-color: black;
    border-left: 4px solid white;
    border-right: 4px solid white;
}
div#navigation{
    background-color: black;
    color: white;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}
div#navigation a{
    color: #13e56e;
    font: normal bold 1.2em/2.5em arial,sans-serif;
}
div#navigation a:hover{
    color: #16e6ad;
}
div#footer{
    background-color: #72e616;
    color: black;
}
div#footer a{
    color: #222222;
    font-weight: bold;
}
div#destra{
    background-color: black;
    border: 1px solid #72e616;
}
div#sinistra{
    background-color: black;
}
div#content{
}
/*tag*/

/*link decoration */
a:link 	{color: #13e56e;}
a:visited {color: #13e56e;}
a:hover {color: #16e6ad;}
button {
    font: normal bold 1.2em/2.5em arial,sans-serif;
    color: #13e56e;
}

/* immagini strutture */
.village_view{
    background-image: url('PATH/common/images/Futura/ground.gif');
}

.main {
    background-image: url('PATH/common/images/Futura/main.png');
}
.storage1 {
    background-image: url('PATH/common/images/Futura/storage1.png');
}
.storage2 {
    background-image: url('PATH/common/images/Futura/storage2.png');
}
.prod1 {
    background-image: url('PATH/common/images/Futura/prod1.png');
}
.prod2 {
    background-image: url('PATH/common/images/Futura/prod2.png');
}
.prod3 {
    background-image: url('PATH/common/images/Futura/prod3.png');
}
.house {
    background-image: url('PATH/common/images/Futura/house.png');
}
.market {
    background-image: url('PATH/common/images/Futura/market.png');
}
.barrack {
    background-image: url('PATH/common/images/Futura/barrack.png');
}
.command {
    background-image: url('PATH/common/images/Futura/command.png');
}
.research {
    background-image: url('PATH/common/images/Futura/research.png');
}

.mainbn {
    background-image: url('PATH/common/images/Futura/mainbn.png');
}
.storage1bn {
    background-image: url('PATH/common/images/Futura/storage1bn.png');
}
.storage2bn {
    background-image: url('PATH/common/images/Futura/storage2bn.png');
}
.prod1bn {
    background-image: url('PATH/common/images/Futura/prod1bn.png');
}
.prod2bn {
    background-image: url('PATH/common/images/Futura/prod2bn.png');
}
.prod3bn {
    background-image: url('PATH/common/images/Futura/prod3bn.png');
}
.housebn {
    background-image: url('PATH/common/images/Futura/housebn.png');
}
.marketbn {
    background-image: url('PATH/common/images/Futura/marketbn.png');
}
.barrackbn {
    background-image: url('PATH/common/images/Futura/barrackbn.png');
}
.commandbn {
    background-image: url('PATH/common/images/Futura/commandbn.png');
}
.researchbn {
    background-image: url('PATH/common/images/Futura/researchbn.png');
}
.uc {
	background-image: url('PATH/common/images/Futura/inbuilding.png');
}
/*navpad*/
.arrow_up {
    background-image: url('PATH/common/images/Futura/up.png');
}
.arrow_sx {
    background-image: url('PATH/common/images/Futura/sx.png');
}
.arrow_dx {
    background-image: url('PATH/common/images/Futura/dx.png');
}
.arrow_down {
    background-image: url('PATH/common/images/Futura/down.png');
}
.arrow_up:hover {
    border: 1px dotted white;
}
.arrow_sx:hover {
    border: 1px dotted #72e616;
}
.arrow_dx:hover {
    border: 1px dotted #72e616;
}
.arrow_down:hover {
    border: 1px dotted #72e616;
}
