#locale {
	top:0px;
	right:0px;
	position:fixed;
}

/*toltip*/
.tooltip {
	display:none;
	border-radius: 10px;
	background:black;
	opacity: 0.60;
	font-size:12px;
	max-width:100px;
	padding:15px;
	color:#fff;
	z-index:3000;
}
/*scroller*/
/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
width: 350px; 
height: 27px; 
margin: 0; 
padding: 0;
overflow: hidden; 
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 10px;
top: 8px;
width: 340px;
overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
left: 360px;
font: bold 10px verdana;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
font: bold 10px Verdana;
margin: 0 50px 0 0;
} 
ul.newsticker span {
margin: 0 10px 0 0;
} 

/*icone*/
.icon {
	background-image:url('../images/icon.png');
	height:16px;
	width:16px;
	dispay:block;
}
.reinfbn {
	
}
.outReinf {
	background-position: 0 -16px;
}
.inReinf {
	background-position: 0 -32px;
}
.reinf {
	background-position: 0 -48px;
}
.attackbn {
	background-position: -16px 0;
}
.outAttack {
	background-position: -16px -16px;
}
.inAttack {
	background-position: -16px -32px;
}
.marketMbn {
	background-position: -32px 0;
}
.marketM {
	background-position: -32px -16px;
}
.blu {
	background-position: -48px 0px;
}
.green {
	background-position: -48px -16px;
}
.yellow {
	background-position: -48px -32px;
}
.red {
	background-position: -48px -48px;
}
.silver {
	background-position: -48px -64px;
}
/*tag*/

/*link decoration */
a:link 	{text-decoration: underline; color:white;}
a:visited {text-decoration: underline; color:white;}
a:hover { text-decoration: none; color:#D9D8ED;}
blockquote {
    font-style: oblique;
    border: 1px solid;
    padding: 10px;
}
img{
	border:0px;
}
abbr {
	cursor: help;
	border-bottom: 1px dashed #999;
}
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
button:hover{
    border: 1px solid black;
}
button.polls.yes {
    background-image: url('../images/ok.gif');
    width: 12px;
    height: 12px;
}
button.polls.no{
    background-image: url('../images/del.gif');
    width: 12px;
    height: 12px;
}
button.polls {
    background: grey;
}

/*style template*/
#error{
    background-image: url("../images/important.png");
    background-repeat: no-repeat;
    position:relative; 
    min-height: 40px;
    margin: 0 auto;
    text-align: left; 
    border: 4px solid red;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 5px;
    padding-right: 5px;
}
#done {
    background-image: url("../images/button_ok.gif");
    background-repeat: no-repeat;
    position:relative; 
    min-height: 40px;
    margin: 0 auto;
    text-align: left; 
    border: 4px solid green;
    padding-left: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    width: 30%;
}
/* style avvisi */
.opaco{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 2000px;
  height: 1500px;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.60;
  filter: alpha(opacity=60);
}
.quest{
  color: white;
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  padding: 16px;
  border: 10px solid #3B3B3B;
  /*background: url(../images/center.jpg);*/
  background-color: black;
  z-index:1002;
  overflow: auto;
}
.quest button {
    color: white;
}
.contentav {
  color: white;
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  padding: 16px;
  border: 10px solid #3B3B3B;
  /*background: url(../images/center.jpg);*/
  background-color: black;
  z-index:1002;
  overflow: auto;
}
.contentav a {
    color: white;
}
a.switch{
	border: 1px solid black;
	background: white;
	text-decoration:none;
	font-size:150%;
}
a.switch.on{
	background: red;
}
#load{
  display: none;
  position: absolute;
  height: 100%;
  width: 1200px;
  background-image: url(../images/loader_earth.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-color:black;
  z-index:2002;
  overflow: auto;
  opacity:0.6
}
.building {
    width: 100px;
    height: 100px;
}
.building:hover {
    border: 1px solid red;
}
.village_view {
    /*background-image: url() ;*/
    height: 350px;
    width: 650px;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}


/* Mappa */
.map_village {
    padding: 0px;
}
.map_village:hover {
    border: 1px solid black;
    
}
/* posizione degli edifici*/
.empty {
    border: none;
    background-image: url('../images/empty1.png');
}
.empty:hover {
    border: none;
    background-image: url('../images/empty.png');
}
.pos0 {
    left: 475px;
    top: 10px;
    position: absolute;
    z-index: 500;
}
.pos1 {
    left: 75px;
    top: 10px;
    position: absolute;
    z-index: 500;
}
.pos2 {
    left: 500px;
    top: 235px;
    position: absolute;
    z-index: 503;
}
.pos3 {
    left: 50px;
    top: 235px;
    position: absolute;
    z-index: 503;
}
.pos4 {
    left: 175px;
    top: 10px;
    position: absolute;
    z-index: 500;
}
.pos5 {
    left: 275px;
    top: 10px;
    position: absolute;
    z-index: 500;
}
.pos6 {
    left: 375px;
    top: 10px;
    position: absolute;
    z-index: 500;
}
.pos7 {
    left: 65px;
    top: 85px;
    position: absolute;
    z-index: 501;
}
.pos8 {
    left: 170px;
    top: 85px;
    position: absolute;
    z-index: 501;
}
.pos9 {
    left: 275px;
    top: 85px;
    position: absolute;
    z-index: 501;
}
.pos10 {
    left: 380px;
    top: 85px;
    position: absolute;
    z-index: 501;
}
.pos11 {
    left: 485px;
    top: 75px;
    position: absolute;
    z-index: 501;
}
.pos12 {
    left: 55px;
    top: 160px;
    position: absolute;
    z-index: 502;
}
.pos13 {
    left: 165px;
    top: 160px;
    position: absolute;
    z-index: 502;
}
.pos14 {
    left: 275px;
    top: 160px;
    position: absolute;
    z-index: 502;
}
.pos15 {
    left: 385px;
    top: 160px;
    position: absolute;
    z-index: 502;
}
.pos16 {
    left: 495px;
    top: 160px;
    position: absolute;
    z-index: 502;
}
.pos17 {
    left: 160px;
    top: 235px;
    position: absolute;
    z-index: 503;
}
.pos18 {
    left: 275px;
    top: 235px;
    position: absolute;
    z-index: 503;
}
.pos19 {
    left: 390px;
    top: 235px;
    position: absolute;
    z-index: 503;
}
.gray{
    color: gray;
}

/* Report table */
table.report {
	border: 1px solid #CCC;
	font-size: 13px;
	border-collapse: collapse;
	line-height: 16px;
	width: 500px;
	empty-cells: show;
        background: white;
        color: black
}

table.report td {
	border: 1px solid #CCC;
	padding-left: 7px;
	padding-top: 2px;
	vertical-align:middle;
        background: white;
        color: black
}

table.report th {
	border: 1px solid #CCC;
	background-image: url(../images/table_bg.png);
        color: black;
	padding-left: 7px;
	padding-top: 2px;
	vertical-align:middle;
	text-align:center;
}

table.report tr.superstiti td { color: green; font-weight: bold; }
table.report tr.died td { color: red; }

table.troopers {
        border: 1px solid #CCC;
	font-size: 13px;
	border-collapse: collapse;
	line-height: 16px;
	empty-cells: show;
        background: white;
        color: black
}

table.troopers td {
        border: 1px solid #CCC;
	padding-left: 7px;
	padding-top: 2px;
	vertical-align:middle;
}
table.troopers th {
        border: 1px solid #CCC;
	background-image: url(../images/table_bg.png);
	padding-left: 7px;
	padding-top: 2px;
	vertical-align:middle;
	text-align:center;
}

table.admin {
        border: 1px solid #CCC;
	font-size: 13px;
	border-collapse: collapse;
	line-height: 16px;
	empty-cells: show;
        background: white;
        color: black
}

table.admin td {
        border: 1px solid #CCC;
	padding-left: 7px;
	padding-top: 2px;
	vertical-align:middle;
}
table.admin th {
        border: 1px solid #CCC;
	background-image: url(../images/table_bg.png);
	padding-left: 7px;
	padding-top: 2px;
	vertical-align:middle;
	text-align:center;
}
/*ui jquery*/

.ui-tabs-hide{
	 display: none;
	}
	.ui-tabs-nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.ui-tabs-nav li{
    display: inline;
    margin: 0 0 0 1em;
    padding: 0;
}
/*nav pad*/
#navpad{
    width: 150px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.arrow_up {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    position: absolute;
    left: 0px;
    top: 100px;
}
.arrow_sx {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left: 0px;
}
.arrow_dx {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left: 100px;
}
.arrow_down {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left: 50px;
}
.master_chosen {
	vertical-align: middle;
}
#troops { float: right; width: 65%; min-height: 60px; } * html #troops { height: 12em; } /* IE6 */
	.troops.custom-state-active { background: #eee; }
	.troops li { float: left; width: 65px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
	.troops li h5 { margin: 0 0 0.4em; cursor: move; }
	.troops li a { float: left; }
	.troops li a.ui-icon-zoomin { float: left; }
	.troops li img { cursor: move; }

	.t {width: 98%; min-height: 71px;; padding: 1%;margin-bottom: 40px;} * html .t { height: 18em; } /* IE6 */
	.t h4 { line-height: 16px; margin: 0 0 0.4em; }
	.t h4 .ui-icon { float: left; }

	.input_troops { width: 35px; }
.server {
	background-image: url('./../images/mondo.gif');
    background-repeat: no-repeat;
    color: black;
    height: 131px;
    padding-left: 131px;
    width: 300px;
    font-size:13px;
}
.server.offline{
	background-image: url('./../images/mondooff.gif');
}
.server.reg.offline{
	background-image: url('./../images/mondooff.gif');
}
.server.reg{
	background-image: url('./../images/mondobn.gif');
}