.error {
	color:red;
}
input.error {
	border:2px solid red;
}
/*profile*/
.passwordpanel {
	display:none;
}

#profile{
	display:none;
}
.profile {
	margin:0 auto;
	width:300px;
	border: 1px solid BORDER;
	border-radius:10px;
}
.profile td:nth-child(2n) {
	text-align:right;
}
.profile td:nth-child(1):not(.button) {
	text-align:left;
	padding-left: 10px;
}
.profile input{
	width:140px;
}
/*toltip*/
.tooltip {
	display:none;
	border-radius: 10px;
	background:black;
	opacity: 0.60;
	font-size:12px;
	max-width:100px;
	padding:15px;
	color:#fff;
	z-index:3000;
}
/*scroller*/
/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
width: 350px; 
height: 27px; 
margin: 0; 
padding: 0;
overflow: hidden; 
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 10px;
top: 8px;
width: 340px;
overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
left: 360px;
font: bold 10px verdana;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
font: bold 10px Verdana;
margin: 0 50px 0 0;
} 
ul.newsticker span {
margin: 0 10px 0 0;
} 

/*icone*/
.icon {
	background-image:url('PATH/common/images/icon.png');
	height:16px;
	width:16px;
	dispay:block;
}
.blu {
	background-position: -48px 0px;
}
.green {
	background-position: -48px -16px;
}
.yellow {
	background-position: -48px -32px;
}
.red {
	background-position: -48px -48px;
}
.silver {
	background-position: -48px -64px;
}
.iconinline {
	display:inline-block;
}
.flag {
	background-image:url('PATH/common/images/flag.png');
	height:16px;
	width:16px;
	dispay:block;
}
.it {
	background-position: -16px 0px;
}
/*tag*/

/*link decoration */
a:link 	{text-decoration: underline; color:white;}
a:visited {text-decoration: underline; color:white;}
a:hover { text-decoration: none; color:#D9D8ED;}
blockquote {
    font-style: oblique;
    border: 1px solid;
    padding: 10px;
}
img{
	border:0px;
}
button.img {
	border-radius:4px;
}
abbr {
	cursor: help;
	border-bottom: 1px dashed #999;
}
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
button:hover{
    border: 1px solid black;
}
button.polls.yes {
    background-image: url('PATH/common/images/ok.gif');
    width: 12px;
    height: 12px;
}
button.polls.no{
    background-image: url('PATH/common/images/del.gif');
    width: 12px;
    height: 12px;
}
button.polls {
    background: grey;
}

/*style template*/
#error{
    background-image: url("PATH/common/images/important.png");
    background-repeat: no-repeat;
    position:relative; 
    min-height: 40px;
    margin: 0 auto;
    text-align: left; 
    border: 4px solid red;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 5px;
    padding-right: 5px;
}
#done {
    background-image: url("PATH/common/images/button_ok.gif");
    background-repeat: no-repeat;
    position:relative; 
    min-height: 40px;
    margin: 0 auto;
    text-align: left; 
    border: 4px solid green;
    padding-left: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    width: 30%;
}
/* style avvisi */
.opaco{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 2000px;
  height: 1500px;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.60;
  filter: alpha(opacity=60);
}
.quest{
  color: white;
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  padding: 16px;
  border: 10px solid #3B3B3B;
  /*background: url(PATH/common/images/center.jpg);*/
  background-color: black;
  z-index:1002;
  overflow: auto;
}
.quest button {
    color: white;
}
.contentav {
  color: white;
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  padding: 16px;
  border: 10px solid #3B3B3B;
  /*background: url(PATH/common/images/center.jpg);*/
  background-color: black;
  z-index:1002;
  overflow: auto;
}
.contentav a {
    color: white;
}
a.switch{
	border: 1px solid black;
	background: white;
	text-decoration:none;
	font-size:150%;
}
a.switch.on{
	background: red;
}
#load{
  display: none;
  position: absolute;
  height: 100%;
  width: 1200px;
  background-image: url(PATH/common/images/loader_earth.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-color:black;
  z-index:2002;
  overflow: auto;
  opacity:0.6
}
.gray{
    color: gray;
}
table.admin {
        border: 1px solid #CCC;
	font-size: 13px;
	border-collapse: collapse;
	line-height: 16px;
	empty-cells: show;
        background: white;
        color: black
}

table.admin td {
        border: 1px solid #CCC;
	padding-left: 7px;
	padding-top: 2px;
	vertical-align:middle;
}
table.admin th {
        border: 1px solid #CCC;
	background-image: url(PATH/common/images/table_bg.png);
	padding-left: 7px;
	padding-top: 2px;
	vertical-align:middle;
	text-align:center;
}
/*ui jquery*/

.ui-tabs-hide{
	 display: none;
	}
	.ui-tabs-nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.ui-tabs-nav li{
    display: inline;
    margin: 0 0 0 1em;
    padding: 0;
}
.master_chosen {
	vertical-align: middle;
}


#banner{
	background-color:black;
}
#hidad {
	float: right;
}