SetEnv APPLICATION_ENV development
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]


######## Blocchiamo i files di log #############
<Files *_log.txt>
ORDER allow,deny
deny FROM ALL
</Files>
<Files *.sqlite>
ORDER allow,deny
deny FROM ALL
</Files>

########### preveniamo hotlinking ########

RewriteEngine on
#RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?ageofevolution.it [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://localhost/ [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ http://img689.imageshack.us/img689/1339/bartlavagna.gif [NC,R,L]


#########chache immagini #################
#<FilesMatch "\.(jpg|jpeg|png|gif|ico)$">

#Header set Cache-Control "max-age=1814400, public"

#</FilesMatch>

